@font-face {
    font-family: Freight-text-book;
    src: url("font/freighttext-book.ttf");
}
html {
    height: 100%;
}

body {
    min-height: 100%;
    width: 18000px;
    background-color: #c6c6c6;
    background-image: url("img/melerad_bakgrund_filter.jpg");
    background-size: 1200px;
}

body > :first-child{
    margin-left: 100px;
}

h1, h2, h3 {
    font-family: "Freight-text-book", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;

}

h1 {
    letter-spacing: 6px;
    font-size: 3.5em;
    color: #404040;
}

p {
    font-family: "Freight-text-book" ,"Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

svg {
    width: 700px;
    z-index: 1;


}

.path {
    fill: white;
    stroke: black;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    -webkit-animation: dash 15s linear forwards;
    animation: dash 15s linear forwards;

}

@keyframes dash {
    from {
        stroke-dashoffset: 1000;
    }
    to {
        stroke-dashoffset: 0;
    }
}

.playhead {
    z-index: 9998;
    position: relative;
    height: 125px;
    width: 2px;
    background: red;
    left: 100px;
    top: 120px;
}

#title {

}

#rhythmh2 {
    font-size: 1.5em;
    display: none;
    text-align: center;
    margin: 5px auto;
}
#rhythmH2Border {
    border: 3px solid goldenrod;
    width: 20%;
    margin: 0 auto 100px auto;
}
#rhythmbox1 {
    font-size: 1.5em;
    line-height: 140%;
}
#rhythmbox2 {
    font-size: 1.5em;
    display: none;
}
#rhythmbox3 {
    font-size: 16px;
    margin-top: 50px;
    display: none;
    position: relative;
}
#footsteps {
    text-align: center;
    margin-bottom: 50px;
}
#time-signature {
    height: 200px;
    margin: 0 auto;
    display: none;
    padding-left: 60px;
}

#footsteps {
    margin-top: 50px;

}
#footstepsImg {
    height: 200px;
    width: 200px;
}
#intro {
    position: relative;
}

#svgimg {

    display: none;
    position: relative;
   
}

#titlediv {
    display: none;
    z-index: 9999;
    position: absolute;
    top: 40%;
    left: 23%;
    text-align: center;
}

#emptySpace {

}

.slide {
    background-image: url(http://www.transparenttextures.com/patterns/natural-paper.png);
    width: 1130px;
    float: left;
    padding-left: 30px;
    margin-right: 530px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 3px black solid;
    box-shadow: 0 0 0 3px goldenrod inset;
    position: relative;


}


.bookmark {
    width: 100px;
    background-color: red;
    float: left;
    margin-top: auto;
}
.noteImg {
    z-index: 1;
    position: relative;
}
