@font-face {
    font-family: Freight-text-book;
    src: url("font/freighttext-book.ttf");
}
html {
    height: 100%;
}

body {
    min-height: 100%;
    width: 18000px;
}

h1, h2, h3 {
    font-family: "Freight-text-book", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
    margin: 25% auto;
    font-size: 3.5em;
    color: #404040;
}

p {
    font-family: "Freight-text-book" ,"Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.playhead {
    z-index: 9999;
    position: relative;
    height: 125px;
    width: 2px;
    background: red;
    left: 100px;
    top: 120px;
}

#title {
    text-align: center;
}

#rhythmh2 {
    display: none;
    text-align: center;
    margin: 0 auto;
}
#rhythmbox1 {
    display: none;

}
#rhythmbox2 {
    display: none;
    position: relative;

}
#rhythmbox3 {
    display: none;
    position: relative;

}

#time-signature {
    display: none;
    float: right;
}

#footsteps {
    float: left;
    height: 200px;
}

.slide {
    width: 930px;
    float: left;
    padding-left: 30px;
    margin-right: 1030px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {

}
.container p {
    font-size: 1em;
}

.noteImg {
    z-index: 1;
    position: relative;
}
